<html>
<head>
    <title>Admin page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type ="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/login/js/jquery.ajaxgrid.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body>
<h1>{{ quiz.name }}</h1>
<label id="num">1</label>)<label id="question">{{ question.text }}</label>
<br>
<form action="quiz.dev/{{ qid }}" id="formData">
    <input type="text" id="quiz" value="{{ quiz.id }}" hidden/>
    <input type="text" id="quest" value="{{ question.id }}" hidden/>
{% for answer in question.answers %}
    <input type="radio" id="aid" name="aid" value="{{ answer.id }}"> {{ answer.text }}<br>
{% endfor %}
    <label id="cur"></label> of <label>{{ question.answers.length }}</label>
<button id="next">Next</button>
</form>
</body>
</html>

<script>
    $('#next').click(function (e) {
        e.preventDefault();
        data = {};
        data['rem'] = true;
        data['qid'] = $('#quiz').val();
        data['qud'] = $('#quest').val();
        data['aid'] = $('#aid:checked').val();
        console.log(data);
        $.ajax({
            url: $('#formData').action,
            type: "POST",
            data: data,
            dataType: "json",
            cache: false,
            success: function (response) {
                console.log(response);
            },
            error: function (response) {
                console.log(response);
            }
        });
    })
</script>